<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= @post.url %></p>
<a href="<%= edit_post_url(@post.id) %>">Edit Post</a>
<form action="<%= post_url(@post.id) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Post">
  </form>

  <% @post.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= comment.author.username %></p>
  <a href="<%= comment_url(comment)%>">See comment</a>
  <% end %>
  

<a href="<%= new_post_comment_url(@post.id) %>">Add Comment</a>